{"name":"crushy","slug":"crushy","version":"1.0.0","web":{"favicon":"./assets/favicon.png"},"experiments":{"tsconfigPaths":true},"plugins":[["expo-dev-launcher",{"launchMode":"most-recent"}]],"orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.crushysocial.crushy"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.crushysocial.crushy"},"extra":{"eas":{"projectId":"f068ee11-0703-47a6-adf1-55b1eb967272"}},"sdkVersion":"51.0.0","platforms":["ios","android"]}